.container {
  position: relative;

  .animate {
    transition-duration: 333ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    transition-property: opacity;
  }

  .start {
    opacity: 1;
  }
  
  .modal {
    background-color: $grey-600;
    height: 100vh;
    cursor: pointer;
  }

  .calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $brand-white;

    &--button {
      border: 1px solid $warning-orange-400;
      padding: 0.25rem;
      color: $warning-orange-400;
      margin: 0.25rem;
      cursor: pointer;
    }
  }
}