.container {
  position: relative;
  
  .modal {
    background-color: $grey-600;
    height: 100vh;
  }

  .calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}