.container {
  position: relative;

  .animate {
    transition-duration: 333ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    transition-property: opacity;
  }

  .start {
    opacity: 1;
  }
  
  .modal {
    background-color: $grey-600;
    height: 100vh;
  }

  .calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $brand-white;
  }
}