@import './brand-colours.scss';
@import './index.scss';
@import './fonts.scss';

//components
@import './components/delivery.scss';
@import './components/deliveryCalendar.scss';

//base styles
body {
  color: $brand-blue-500;

  h1 {
    font-family: $font-family-headings;
  }

  p {
    font-family: $font-family-base-regular;
  }
}